/* App.css */

.drawerList {
  width: 250px; /* o el ancho que desees */
}

.drawerList a {
  text-decoration: none;
  color: inherit;
}

.drawerList .MuiListItem-button {
  background-color: #2c3e50;  /* Cambia el color de fondo según tu preferencia */
  color: white;
  border-bottom: 1px solid #34495e;  /* Agrega un borde en la parte inferior para separar los elementos */
  padding: 15px 25px;
}

.drawerList .MuiListItem-button:hover {
  background-color: #34495e;  /* Cambia el color de fondo al pasar el cursor */
}